<header>
  <nav class="navbar navbar-expand-xl navbar-dark bg-dark shadow-sm">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" >
      <span class="fas fa-ellipsis-v" aria-hidden="true"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 js-scroll-trigger" href="/" arial-label="Home">Home</a></li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 js-scroll-trigger" href="/sendNews" arial-label="Insert New Publish">New Publication</a></li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 js-scroll-trigger" href="/publications" aria-label="Lista de Notícias">Publications</a></li>
        </ul>
    </div>
  </nav>
</header>